# Exploratory Data Analysis (EDA)

We'll explore our dataset here, and note any cleaning or any other pre-processing that needs to be done prior to modeling.

Running this file provides the following pickle-serialized objects that can be used in later notebooks:
- `pickle/h1_stats.pick` & `pickle/h2_stats.pick`

In [2]:
import pandas as pd
import numpy as np
import datetime

In [3]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

## Reading In Our Data

Dataset can be downloaded [here](https://www.sciencedirect.com/science/article/pii/S2352340918315191#s0005).

In [4]:
df_h1 = pd.read_csv("../data/H1.csv")
df_h2 = pd.read_csv("../data/H2.csv")

In [5]:
len(df_h1), len(df_h2)

(40060, 79330)

In [5]:
h1_reservation_nums = range(len(df_h1))
h2_reservation_nums = range(len(df_h2))
df_h1.insert(0, 'res_num', h1_reservation_nums)
df_h2.insert(0, 'res_num', h2_reservation_nums)

In [6]:
df_h1.shape

(40060, 32)

In [7]:
df_h1.head(3)

,res_num,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,Babies,Meal,Country,MarketSegment,DistributionChannel,IsRepeatedGuest,PreviousCancellations,PreviousBookingsNotCanceled,ReservedRoomType,AssignedRoomType,BookingChanges,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate
0,0,0,342,2015,July,27,1,0,0,2,0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,1,0,737,2015,July,27,1,0,0,2,0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,2,0,7,2015,July,27,1,0,1,1,0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NULL,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02

In [8]:
df_h2.shape

(79330, 32)

In [9]:
df_h2.head(3)

,res_num,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,Babies,Meal,Country,MarketSegment,DistributionChannel,IsRepeatedGuest,PreviousCancellations,PreviousBookingsNotCanceled,ReservedRoomType,AssignedRoomType,BookingChanges,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate
0,0,0,6,2015,July,27,1,0,2,1,0.0,0,HB,PRT,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,6,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-03
1,1,1,88,2015,July,27,1,0,4,2,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9,NULL,0,Transient,76.5,0,1,Canceled,2015-07-01
2,2,1,65,2015,July,27,1,0,4,1,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9,NULL,0,Transient,68.0,0,1,Canceled,2015-04-30

In [109]:
df_h1['ArrivalDate'] = (pd.to_datetime(df_h1.ArrivalDateYear.astype(str) + '-'
                                       + df_h1.ArrivalDateMonth + '-'
                                       + df_h1.ArrivalDateDayOfMonth.astype(str)))

df_h1['ReservationStatusDate'] = pd.to_datetime(df_h1.ReservationStatusDate)

df_h2['ArrivalDate'] = (pd.to_datetime(df_h2.ArrivalDateYear.astype(str) + '-'
                                       + df_h2.ArrivalDateMonth + '-'
                                       + df_h2.ArrivalDateDayOfMonth.astype(str)))

df_h2['ReservationStatusDate'] = pd.to_datetime(df_h2.ReservationStatusDate)

In [12]:
df_h1.head(3)

,res_num,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,Babies,Meal,Country,MarketSegment,DistributionChannel,IsRepeatedGuest,PreviousCancellations,PreviousBookingsNotCanceled,ReservedRoomType,AssignedRoomType,BookingChanges,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate,ArrivalDate
0,0,0,342,2015,July,27,1,0,0,2,0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01,2015-07-01
1,1,0,737,2015,July,27,1,0,0,2,0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01,2015-07-01
2,2,0,7,2015,July,27,1,0,1,1,0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NULL,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02,2015-07-01

In [112]:
df_h2.ArrivalDate.min()

Timestamp('2015-07-01 00:00:00')

In [13]:
df_h1.describe()

,res_num,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,Babies,IsRepeatedGuest,PreviousCancellations,PreviousBookingsNotCanceled,BookingChanges,DaysInWaitingList,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests
count,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.00000
mean,20029.500000,0.277634,92.675686,2016.121443,27.140864,15.821243,1.189815,3.128732,1.867149,0.128682,0.013904,0.044383,0.101722,0.146455,0.287968,0.527758,94.952930,0.138068,0.61977
std,11564.470229,0.447837,97.285315,0.722347,14.005441,8.883708,1.147812,2.461329,0.697285,0.445195,0.118998,0.205948,1.335115,1.001955,0.726548,7.428580,61.442418,0.351001,0.81393
min,0.000000,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-6.380000,0.000000,0.00000
25%,10014.750000,0.000000,10.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,50.000000,0.000000,0.00000
50%,20029.500000,0.000000,57.000000,2016.000000,28.000000,16.000000,1.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,75.000000,0.000000,0.00000
75%,30044.250000,1.000000,155.000000,2017.000000,38.000000,24.000000,2.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,125.000000,0.000000,1.00000
max,40059.000000,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,2.000000,1.000000,26.000000,30.000000,17.000000,185.000000,508.000000,8.000000,5.00000

In [14]:
df_h1.columns

Index(['res_num', 'IsCanceled', 'LeadTime', 'ArrivalDateYear',
       'ArrivalDateMonth', 'ArrivalDateWeekNumber', 'ArrivalDateDayOfMonth',
       'StaysInWeekendNights', 'StaysInWeekNights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'MarketSegment', 'DistributionChannel',
       'IsRepeatedGuest', 'PreviousCancellations',
       'PreviousBookingsNotCanceled', 'ReservedRoomType', 'AssignedRoomType',
       'BookingChanges', 'DepositType', 'Agent', 'Company',
       'DaysInWaitingList', 'CustomerType', 'ADR', 'RequiredCarParkingSpaces',
       'TotalOfSpecialRequests', 'ReservationStatus', 'ReservationStatusDate',
       'ArrivalDate'],
      dtype='object')

In [15]:
df_h1.ArrivalDateWeekNumber

0        27
1        27
2        27
3        27
4        27
         ..
40055    35
40056    35
40057    35
40058    35
40059    35
Name: ArrivalDateWeekNumber, Length: 40060, dtype: int64

In [16]:
df_h1.IsCanceled.value_counts()

0    28938
1    11122
Name: IsCanceled, dtype: int64

In [7]:
df_h1['LOS'] = (df_h1.StaysInWeekendNights + df_h1.StaysInWeekNights).astype(int)
df_h2['LOS'] = (df_h2.StaysInWeekendNights + df_h2.StaysInWeekNights).astype(int)

In [126]:
df_h1['LOS'] = df_h1['LOS'].astype(int)
df_h2['LOS'] = df_h2['LOS'].astype(int)

## Converting Reservation List to Hotel Sales

We currently have a list of reservations. Each contains an arrival date and LOS (length of stay).

We need to convert this to total hotel sales, (i.e. total num rooms sold per day). Later on, we can add more statistics, such num transient rooms, num group rooms, num comp rooms, etc.

In [121]:
# try 3 - most accurate
# get count of active reservations per day
# los = length of stay

from collections import defaultdict

def ressies_to_daybydays(df):
    mask = df['IsCanceled'] == 0
    df_dates = df[mask]

    date = datetime.date(2015, 7, 1)
    end_date = datetime.date(2017, 8, 31)
    delta = datetime.timedelta(days=1)
    max_los = int(df_dates['LOS'].max())
    
    rooms_sold = defaultdict(int)
    
    while date <= end_date:
        
        date_string = datetime.datetime.strftime(date, format='%Y-%m-%d')
        tminus=0
        
        # start on the arrival date and move back
        # to capture ALL ressies touching 'date' (and not just those that arrive on 'date')
        for i in range(max_los + 1):

            date_tminus = date - pd.DateOffset(tminus)
            mask = (df_dates.ArrivalDate == date_tminus) & (df_dates.LOS >= 1 + tminus) & (df_dates.IsCanceled == 0)

            rooms_sold[date_string] += len(df_dates[mask])
            tminus += 1 


        date += delta
    return pd.DataFrame(rooms_sold, index=['RoomsSold']).transpose()

In [9]:
# h1_stats = ressies_to_daybydays(df_h1)
# h2_stats = ressies_to_daybydays(df_h2)

h1_stats = pd.read_pickle('./pickle/h1_stats.pick')
h2_stats = pd.read_pickle('./pickle/h2_stats.pick')

In [10]:
h1_stats.head(3)

            RoomsSold
2015-07-01         36
2015-07-02         64
2015-07-03         81

In [107]:
# validate above is correct by checking a couple dates

date_check = '2015-07-01'
tminus = 0
RESSIES=0

for i in range(70):
    
    date_check_tminus = datetime.datetime.strftime(pd.to_datetime(date_check) - pd.DateOffset(tminus), format='%Y-%m-%d')
    mask = (df_h1.ArrivalDate == date_check_tminus) & (df_h1.LOS >= 1 + tminus) & (df_h1.IsCanceled == 0)
    
    RESSIES += len(df_h1[mask])
    tminus += 1
    
RESSIES

36

In [ ]:
## Pickle Files for Later

In [128]:
# h1_stats.to_pickle('./pickle/h1_stats.pick')
# h2_stats.to_pickle('./pickle/h2_stats.pick')