# Exploring the Hotel-Level Data

Here, we convert all reservations to hotel nightly sales statistics using the `parse_dates` and `res_to_stats` functions in `utils.py`.

We'll start by deriving some basic information about each hotel, including:
* **Capacity** (total number of rooms)
* **Occupancy** (rooms sold / capacity)

Then, we'll pull more statistics into the `stats` DataFrames:
* **Revenue and Rooms Sold by Customer Segment**
* **ADR by Customer Segment**

These stats will help us understand what kind of hotels we're working with.

In [13]:
import pandas as pd
import numpy as np

from utils import parse_dates, add_res_columns, res_to_stats, calculate_stats

In [14]:
h1_res = pd.read_csv("../data/H1.csv")
h2_res = pd.read_csv("../data/H2.csv")

In [15]:
h1_res = parse_dates(h1_res)
h2_res = parse_dates(h2_res)
h1_res = add_res_columns(h1_res)
h2_res = add_res_columns(h2_res)

In [16]:
h1_res.to_pickle("pickle/h1_res.pick")
h2_res.to_pickle("pickle/h2_res.pick")
# h1_res = pd.read_pickle("pickle/h1_res.pick")
# h2_res = pd.read_pickle("pickle/h2_res.pick")

In [18]:
h1_dbds = res_to_stats(h1_res)
h2_dbds = res_to_stats(h2_res)
h1_dbds = calculate_stats(h1_dbds)
h2_dbds = calculate_stats(h2_dbds)

In [19]:
h1_dbds.to_pickle("pickle/h1_dbds.pick")
h2_dbds.to_pickle("pickle/h2_dbds.pick")
# h1_dbds = pd.read_pickle("pickle/h1_dbds.pick")
# h2_dbds = pd.read_pickle("pickle/h2_dbds.pick")

In [8]:
df_h1.columns

Index(['ResNum', 'IsCanceled', 'LeadTime', 'ArrivalDateYear',
       'ArrivalDateMonth', 'ArrivalDateWeekNumber', 'ArrivalDateDayOfMonth',
       'StaysInWeekendNights', 'StaysInWeekNights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'MarketSegment', 'DistributionChannel',
       'IsRepeatedGuest', 'PreviousCancellations',
       'PreviousBookingsNotCanceled', 'ReservedRoomType', 'AssignedRoomType',
       'BookingChanges', 'DepositType', 'Agent', 'Company',
       'DaysInWaitingList', 'CustomerType', 'ADR', 'RequiredCarParkingSpaces',
       'TotalOfSpecialRequests', 'ReservationStatus', 'ReservationStatusDate',
       'ArrivalDate', 'LOS'],
      dtype='object')

In [9]:
h1_stats.head()

,DOW,RoomsSold,RoomRev,Trn_RoomsSold,Trn_RoomRev,Cnt_RoomsSold,Cnt_RoomRev,TrnP_RoomsSold,TrnP_RoomRev,Grp_RoomsSold,Grp_RoomRev,ADR,Trn_ADR,TrnP_ADR,Grp_ADR,Cnt_ADR,WE,WD
2015-07-01,Wed,36.0,3356.83,30.0,2877.25,6.0,479.58,NaN,NaN,NaN,NaN,93.25,95.91,NaN,NaN,79.93,False,True
2015-07-02,Thu,64.0,6251.33,43.0,4631.34,19.0,1469.53,2.0,150.46,NaN,NaN,97.68,107.71,75.23,NaN,77.34,False,True
2015-07-03,Fri,81.0,8052.35,54.0,5923.95,25.0,1977.94,2.0,150.46,NaN,NaN,99.41,109.70,75.23,NaN,79.12,True,False
2015-07-04,Sat,108.0,10473.47,71.0,7643.08,32.0,2458.53,5.0,371.86,NaN,NaN,96.98,107.65,74.37,NaN,76.83,True,False
2015-07-05,Sun,122.0,11901.72,79.0,8354.73,37.0,3022.13,5.0,371.86,1.0,153.0,97.56,105.76,74.37,153.0,81.68,False,True

In [10]:
h1_stats.describe()

,RoomsSold,RoomRev,Trn_RoomsSold,Trn_RoomRev,Cnt_RoomsSold,Cnt_RoomRev,TrnP_RoomsSold,TrnP_RoomRev,Grp_RoomsSold,Grp_RoomRev,ADR,Trn_ADR,TrnP_ADR,Grp_ADR,Cnt_ADR
count,793.000000,793.000000,793.000000,793.000000,703.000000,703.000000,770.000000,770.000000,368.000000,368.000000,793.000000,793.000000,770.000000,368.000000,703.000000
mean,150.535939,14532.738588,102.303909,10718.656772,19.381223,1529.545633,31.033766,2449.481221,1.975543,171.727609,89.606583,94.391463,90.703065,79.409130,71.701664
std,40.949113,9477.573530,32.915559,8122.392825,16.581485,1321.403239,28.994846,2011.421687,1.509985,197.604611,45.317853,48.123252,49.624662,52.372884,28.538983
min,29.000000,1215.570000,11.000000,858.700000,1.000000,26.100000,1.000000,0.000000,1.000000,0.000000,37.880000,38.160000,0.000000,0.000000,26.000000
25%,131.000000,7403.050000,75.000000,4542.660000,3.000000,150.100000,12.000000,997.750000,1.000000,50.000000,54.580000,55.620000,55.310000,41.650000,52.150000
50%,172.000000,11888.980000,103.000000,7614.720000,16.000000,1322.670000,20.000000,1982.430000,1.000000,99.500000,70.780000,77.440000,69.390000,62.600000,65.340000
75%,180.000000,19720.260000,130.000000,14543.530000,32.000000,2657.120000,42.000000,3559.302500,2.000000,223.000000,111.900000,121.440000,120.432500,118.180000,82.810000
max,187.000000,37692.690000,163.000000,31199.210000,74.000000,5293.090000,162.000000,12497.410000,11.000000,1199.820000,205.410000,225.890000,230.430000,250.300000,146.340000

In [12]:
h2_stats.describe()

,RoomsSold,RoomRev,Trn_RoomsSold,Trn_RoomRev,TrnP_RoomsSold,TrnP_RoomRev,Grp_RoomsSold,Grp_RoomRev,Cnt_RoomsSold,Cnt_RoomRev,ADR,Trn_ADR,TrnP_ADR,Grp_ADR,Cnt_ADR
count,793.000000,793.000000,793.000000,793.000000,761.000000,761.000000,306.000000,306.000000,343.000000,343.000000,793.000000,793.000000,761.000000,306.000000,343.000000
mean,170.112232,18109.811488,122.211854,13553.924401,44.194481,4149.830552,2.271242,185.691176,10.664723,1160.279621,100.873493,102.975233,92.126399,83.663235,98.078950
std,59.570400,8394.756685,58.875086,7892.108697,34.695351,3621.360711,2.077583,174.598853,13.087698,1535.684718,21.461980,23.995806,20.973691,35.556704,21.481964
min,2.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,55.000000,0.000000,0.000000,0.000000,0.000000,55.000000
25%,131.000000,11486.830000,72.000000,6461.470000,19.000000,1503.000000,1.000000,88.000000,1.000000,136.000000,84.890000,85.180000,76.600000,62.552500,81.345000
50%,196.000000,19303.980000,134.000000,14087.910000,36.000000,3399.430000,2.000000,121.200000,3.000000,306.000000,98.360000,101.640000,90.360000,82.440000,97.970000
75%,217.000000,25207.420000,173.000000,20423.560000,59.000000,5471.010000,2.000000,235.322500,17.000000,1889.370000,117.220000,122.790000,106.270000,100.037500,110.000000
max,226.000000,33900.910000,218.000000,30347.020000,213.000000,28626.740000,12.000000,1172.050000,51.000000,6240.760000,164.230000,166.500000,164.700000,270.000000,172.800000

## Capacity

EW- ADD TO UTILS.PY

Based on the above tables, we can see the maximum capacity of each hotel.

**H1 (Resort Hotel)'s capacity is 187 rooms.**

**H2 (City Hotel)'s capacity is 226 rooms.**

In [ ]:
h1_stats["Occ"] = h1_stats.RoomsSold.astype(float) / 187
# h2_stats["Occ"] = h2_stats.RoomsSold.astype(float) / 226

In [ ]:
h1_stats.describe()

In [ ]:
h2_stats.describe()

In [ ]:
df_h1.head(3)

In [ ]:
h1_res_nums = np.array(range(len(df_h1)))
# h2_res_nums = np.array(range(len(df_h2)))
h1_res_nums

In [ ]:
df_h1.CustomerType.value_counts()

In [ ]:
df_h1['Revenue'] = df_h1.LOS * df_h1.ADR
# df_h2['Revenue'] = df_h2.LOS * df_h2.ADR

In [ ]:
mask = df_h1.IsCanceled == 0
df_h1[mask][['CustomerType', 'LOS', 'Revenue']].groupby("CustomerType").agg(sum)

In [ ]:
h1_stats

In [ ]:
t = (df_h1.groupby("CustomerType")
     .agg({"ADR": "sum", "ResNum": "count"})
     .rename(columns={"ADR":"Revenue", "ResNum": "RoomsSold"}))

In [ ]:
t

In [ ]:
t.loc["Contract", "ADR"]

In [ ]:
import datetime
d1 = datetime.date(2020, 1, 1)
d2 = datetime.date(2020, 4, 1)
all_dates = [datetime.datetime.strftime(d1 + datetime.timedelta(days=x), format="%Y-%m-%d") for x in range((d2-d1).days + 1)]

In [ ]:
dd

In [ ]:
t = pd.DataFrame([['Elliot', 'Jim', "Paco", "Elliot"], [1, 1, 1, 1]]).transpose()

In [ ]:
t

In [ ]:
tg = t.groupby(0).agg(sum)

In [ ]:
'Elliot' in list(tg.index)