# Exploring the Hotel-Level Data

Here, we convert all reservations to hotel nightly sales statistics using the `parse_dates` and `res_to_stats` functions in `utils.py`.

We'll start by deriving some basic information about each hotel, including:
* **Capacity** (total number of rooms)
* **Occupancy** (rooms sold / capacity)

Then, we'll pull more statistics into the `stats` DataFrames:
* **Revenue and Rooms Sold by Customer Segment**
* **ADR by Customer Segment**

These stats will help us understand what kind of hotels we're working with.

In [1]:
import pandas as pd
import numpy as np

from utils import generate_hotel_dfs

In [2]:
h1_res, h1_dbd = generate_hotel_dfs('../data/H1.csv')

In [3]:
h2_res, h2_dbd = generate_hotel_dfs('../data/H2.csv')

In [4]:
h1_dbd.to_pickle("pickle/h1_dbd.pick")
h2_dbd.to_pickle("pickle/h2_dbd.pick")
h1_res.to_pickle("pickle/h1_res.pick")
h2_res.to_pickle("pickle/h2_res.pick")
# h1_dbds = pd.read_pickle("pickle/h1_dbds.pick")
# h2_dbds = pd.read_pickle("pickle/h2_dbds.pick")

In [5]:
h1_res

,ResNum,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,...,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate,ArrivalDate,LOS
0,0,0,342,2015,July,27,1,0,0,2,...,NULL,0,Transient,0.00,0,0,Check-Out,2015-07-01,2015-07-01,0
1,1,0,737,2015,July,27,1,0,0,2,...,NULL,0,Transient,0.00,0,0,Check-Out,2015-07-01,2015-07-01,0
2,2,0,7,2015,July,27,1,0,1,1,...,NULL,0,Transient,75.00,0,0,Check-Out,2015-07-02,2015-07-01,1
3,3,0,13,2015,July,27,1,0,1,1,...,NULL,0,Transient,75.00,0,0,Check-Out,2015-07-02,2015-07-01,1
4,4,0,14,2015,July,27,1,0,2,2,...,NULL,0,Transient,98.00,0,1,Check-Out,2015-07-03,2015-07-01,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40055,40055,0,212,2017,August,35,31,2,8,2,...,NULL,0,Transient,89.75,0,0,Check-Out,2017-09-10,2017-08-31,10
40056,40056,0,169,2017,August,35,30,2,9,2,...,NULL,0,Transient-Party,202.27,0,1,Check-Out,2017-09-10,2017-08-30,11
40057,40057,0,204,2017,August,35,29,4,10,2,...,NULL,0,Transient,153.57,0,3,Check-Out,2017-09-12,2017-08-29,14
40058,40058,0,211,2017,August,35,31,4,10,2,...,NULL,0,Contract,112.80,0,1,Check-Out,2017-09-14,2017-08-31,14
40059,40059,0,161,2017,August,35,31,4,10,2,...,NULL,0,Transient,99.06,0,0,Check-Out,2017-09-14,2017-08-31,14

In [6]:
h1_dbd.head()

,DOW,Occ,RoomsSold,ADR,RoomRev,RevPAR,Trn_RoomsSold,Trn_ADR,Trn_RoomRev,Grp_RoomsSold,Grp_ADR,Grp_RoomRev,TrnP_RoomsSold,TrnP_RoomRev,Cnt_RoomsSold,Cnt_ADR,Cnt_RoomRev,TrnP_ADR,WE,WD
2015-07-01,Wed,0.19,36.0,93.25,3356.83,17.95,30.0,95.91,2877.25,0.0,0.0,0.0,0.0,0.00,6.0,79.93,479.58,0.00,False,True
2015-07-02,Thu,0.34,64.0,97.68,6251.33,33.43,43.0,107.71,4631.34,0.0,0.0,0.0,2.0,150.46,19.0,77.34,1469.53,75.23,False,True
2015-07-03,Fri,0.43,81.0,99.41,8052.35,43.06,54.0,109.70,5923.95,0.0,0.0,0.0,2.0,150.46,25.0,79.12,1977.94,75.23,True,False
2015-07-04,Sat,0.58,108.0,96.98,10473.47,56.01,71.0,107.65,7643.08,0.0,0.0,0.0,5.0,371.86,32.0,76.83,2458.53,74.37,True,False
2015-07-05,Sun,0.65,122.0,97.56,11901.72,63.65,79.0,105.76,8354.73,1.0,153.0,153.0,5.0,371.86,37.0,81.68,3022.13,74.37,False,True

In [7]:
[col for col in h1_dbd.columns]

['DOW',
 'Occ',
 'RoomsSold',
 'ADR',
 'RoomRev',
 'RevPAR',
 'Trn_RoomsSold',
 'Trn_ADR',
 'Trn_RoomRev',
 'Grp_RoomsSold',
 'Grp_ADR',
 'Grp_RoomRev',
 'TrnP_RoomsSold',
 'TrnP_RoomRev',
 'Cnt_RoomsSold',
 'Cnt_ADR',
 'Cnt_RoomRev',
 'TrnP_ADR',
 'WE',
 'WD']

In [8]:

h1_dbd

,DOW,Occ,RoomsSold,ADR,RoomRev,RevPAR,Trn_RoomsSold,Trn_ADR,Trn_RoomRev,Grp_RoomsSold,Grp_ADR,Grp_RoomRev,TrnP_RoomsSold,TrnP_RoomRev,Cnt_RoomsSold,Cnt_ADR,Cnt_RoomRev,TrnP_ADR,WE,WD
2015-07-01,Wed,0.19,36.0,93.25,3356.83,17.95,30.0,95.91,2877.25,0.0,0.00,0.00,0.0,0.00,6.0,79.93,479.58,0.00,False,True
2015-07-02,Thu,0.34,64.0,97.68,6251.33,33.43,43.0,107.71,4631.34,0.0,0.00,0.00,2.0,150.46,19.0,77.34,1469.53,75.23,False,True
2015-07-03,Fri,0.43,81.0,99.41,8052.35,43.06,54.0,109.70,5923.95,0.0,0.00,0.00,2.0,150.46,25.0,79.12,1977.94,75.23,True,False
2015-07-04,Sat,0.58,108.0,96.98,10473.47,56.01,71.0,107.65,7643.08,0.0,0.00,0.00,5.0,371.86,32.0,76.83,2458.53,74.37,True,False
2015-07-05,Sun,0.65,122.0,97.56,11901.72,63.65,79.0,105.76,8354.73,1.0,153.00,153.00,5.0,371.86,37.0,81.68,3022.13,74.37,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-08-27,Sun,0.96,179.0,192.15,34394.38,183.93,125.0,211.64,26454.38,5.0,152.61,763.03,21.0,3787.50,28.0,121.05,3389.47,180.36,False,True
2017-08-28,Mon,0.93,174.0,190.89,33215.19,177.62,130.0,205.76,26748.82,5.0,146.21,731.03,13.0,2666.64,26.0,118.03,3068.70,205.13,False,True
2017-08-29,Tue,0.93,173.0,185.95,32169.28,172.03,130.0,198.38,25789.27,5.0,146.21,731.03,12.0,2496.04,26.0,121.27,3152.94,208.00,False,True
2017-08-30,Wed,0.93,174.0,176.95,30788.80,164.65,130.0,187.56,24383.42,7.0,135.00,945.03,12.0,2531.66,25.0,117.15,2928.69,210.97,False,True
2017-08-31,Thu,0.91,170.0,171.07,29082.20,155.52,130.0,182.60,23738.62,6.0,148.12,888.73,10.0,1847.66,24.0,108.63,2607.19,184.77,False,True

In [9]:
h1_dbd.describe()

,Occ,RoomsSold,ADR,RoomRev,RevPAR,Trn_RoomsSold,Trn_ADR,Trn_RoomRev,Grp_RoomsSold,Grp_ADR,Grp_RoomRev,TrnP_RoomsSold,TrnP_RoomRev,Cnt_RoomsSold,Cnt_ADR,Cnt_RoomRev,TrnP_ADR
count,793.000000,793.000000,793.000000,793.000000,793.000000,793.000000,793.000000,793.000000,793.000000,793.000000,793.000000,793.000000,793.000000,793.000000,793.000000,793.000000,793.000000
mean,0.804968,150.535939,89.606583,14532.738588,77.715460,102.303909,94.391463,10718.656772,0.916772,36.850643,79.692005,30.133670,2378.436999,17.181589,63.564023,1355.952812,88.072333
std,0.218965,40.949113,45.317853,9477.573530,50.682171,32.915559,48.123252,8122.392825,1.424225,53.303960,159.492260,29.042111,2024.231358,16.779235,35.211278,1335.427348,51.216005
min,0.160000,29.000000,37.880000,1215.570000,6.500000,11.000000,38.160000,858.700000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.700000,131.000000,54.580000,7403.050000,39.590000,75.000000,55.620000,4542.660000,0.000000,0.000000,0.000000,11.000000,868.340000,2.000000,44.070000,80.960000,54.000000
50%,0.920000,172.000000,70.780000,11888.980000,63.580000,103.000000,77.440000,7614.720000,0.000000,0.000000,0.000000,19.000000,1885.260000,12.000000,61.390000,979.330000,68.780000
75%,0.960000,180.000000,111.900000,19720.260000,105.460000,130.000000,121.440000,14543.530000,1.000000,56.000000,85.000000,41.000000,3480.630000,30.000000,80.010000,2531.630000,118.580000
max,1.000000,187.000000,205.410000,37692.690000,201.570000,163.000000,225.890000,31199.210000,11.000000,250.300000,1199.820000,162.000000,12497.410000,74.000000,146.340000,5293.090000,230.430000

In [10]:
h1_dbd.fillna(0, inplace=True)

In [11]:
h2_stats.describe()

NameError: name 'h2_stats' is not defined

## Capacity

EW- ADD TO UTILS.PY

Based on the above tables, we can see the maximum capacity of each hotel.

**H1 (Resort Hotel)'s capacity is 187 rooms.**

**H2 (City Hotel)'s capacity is 226 rooms.**

In [ ]:
h1_stats["Occ"] = h1_stats.RoomsSold.astype(float) / 187
# h2_stats["Occ"] = h2_stats.RoomsSold.astype(float) / 226

In [ ]:
h1_stats.describe()

In [ ]:
h2_stats.describe()

In [ ]:
df_h1.head(3)

In [ ]:
h1_res_nums = np.array(range(len(df_h1)))
# h2_res_nums = np.array(range(len(df_h2)))
h1_res_nums

In [ ]:
df_h1.CustomerType.value_counts()

In [ ]:
df_h1['Revenue'] = df_h1.LOS * df_h1.ADR
# df_h2['Revenue'] = df_h2.LOS * df_h2.ADR

In [ ]:
mask = df_h1.IsCanceled == 0
df_h1[mask][['CustomerType', 'LOS', 'Revenue']].groupby("CustomerType").agg(sum)

In [ ]:
h1_stats

In [ ]:
t = (df_h1.groupby("CustomerType")
     .agg({"ADR": "sum", "ResNum": "count"})
     .rename(columns={"ADR":"Revenue", "ResNum": "RoomsSold"}))

In [ ]:
import datetime
d1 = datetime.date(2020, 1, 1)
d2 = datetime.date(2020, 4, 1)
all_dates = [datetime.datetime.strftime(d1 + datetime.timedelta(days=x), format="%Y-%m-%d") for x in range((d2-d1).days + 1)]