In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [3]:
df_h1 = pd.read_csv("../data/H1.csv")
df_h2 = pd.read_csv("../data/H2.csv")

In [4]:
len(df_h1)

40060

In [5]:
h1_reservation_nums = range(len(df_h1))
h2_reservation_nums = range(len(df_h2))
df_h1.insert(0, 'res_num', h1_reservation_nums)
df_h2.insert(0, 'res_num', h2_reservation_nums)

In [6]:
df_h1.shape

(40060, 32)

In [7]:
df_h1.head(3)

,res_num,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,Babies,Meal,Country,MarketSegment,DistributionChannel,IsRepeatedGuest,PreviousCancellations,PreviousBookingsNotCanceled,ReservedRoomType,AssignedRoomType,BookingChanges,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate
0,0,0,342,2015,July,27,1,0,0,2,0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,1,0,737,2015,July,27,1,0,0,2,0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,2,0,7,2015,July,27,1,0,1,1,0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NULL,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02

In [8]:
df_h2.shape

(79330, 32)

In [9]:
df_h2.head(3)

,res_num,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,Babies,Meal,Country,MarketSegment,DistributionChannel,IsRepeatedGuest,PreviousCancellations,PreviousBookingsNotCanceled,ReservedRoomType,AssignedRoomType,BookingChanges,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate
0,0,0,6,2015,July,27,1,0,2,1,0.0,0,HB,PRT,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,6,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-03
1,1,1,88,2015,July,27,1,0,4,2,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9,NULL,0,Transient,76.5,0,1,Canceled,2015-07-01
2,2,1,65,2015,July,27,1,0,4,1,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9,NULL,0,Transient,68.0,0,1,Canceled,2015-04-30

In [10]:
df_h1['ArrivalDate'] = (pd.to_datetime(df_h1.ArrivalDateYear.astype(str) + '-'
                                       + df_h1.ArrivalDateMonth + '-'
                                       + df_h1.ArrivalDateDayOfMonth.astype(str)))

df_h1['ReservationStatusDate'] = pd.to_datetime(df_h1.ReservationStatusDate)

In [11]:
t1 = pd.to_datetime('2015-07-03')
t2 = pd.to_datetime('2015-07-04')

# pd.Timedelta(t2 - t1).days

t1 + pd.DateOffset(1)

Timestamp('2015-07-04 00:00:00')

In [12]:
df_h1.head(3)

,res_num,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,Babies,Meal,Country,MarketSegment,DistributionChannel,IsRepeatedGuest,PreviousCancellations,PreviousBookingsNotCanceled,ReservedRoomType,AssignedRoomType,BookingChanges,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate,ArrivalDate
0,0,0,342,2015,July,27,1,0,0,2,0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01,2015-07-01
1,1,0,737,2015,July,27,1,0,0,2,0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01,2015-07-01
2,2,0,7,2015,July,27,1,0,1,1,0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NULL,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02,2015-07-01

In [13]:
df_h1.describe()

,res_num,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,Babies,IsRepeatedGuest,PreviousCancellations,PreviousBookingsNotCanceled,BookingChanges,DaysInWaitingList,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests
count,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.00000
mean,20029.500000,0.277634,92.675686,2016.121443,27.140864,15.821243,1.189815,3.128732,1.867149,0.128682,0.013904,0.044383,0.101722,0.146455,0.287968,0.527758,94.952930,0.138068,0.61977
std,11564.470229,0.447837,97.285315,0.722347,14.005441,8.883708,1.147812,2.461329,0.697285,0.445195,0.118998,0.205948,1.335115,1.001955,0.726548,7.428580,61.442418,0.351001,0.81393
min,0.000000,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-6.380000,0.000000,0.00000
25%,10014.750000,0.000000,10.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,50.000000,0.000000,0.00000
50%,20029.500000,0.000000,57.000000,2016.000000,28.000000,16.000000,1.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,75.000000,0.000000,0.00000
75%,30044.250000,1.000000,155.000000,2017.000000,38.000000,24.000000,2.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,125.000000,0.000000,1.00000
max,40059.000000,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,2.000000,1.000000,26.000000,30.000000,17.000000,185.000000,508.000000,8.000000,5.00000

In [14]:
df_h1.columns

Index(['res_num', 'IsCanceled', 'LeadTime', 'ArrivalDateYear',
       'ArrivalDateMonth', 'ArrivalDateWeekNumber', 'ArrivalDateDayOfMonth',
       'StaysInWeekendNights', 'StaysInWeekNights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'MarketSegment', 'DistributionChannel',
       'IsRepeatedGuest', 'PreviousCancellations',
       'PreviousBookingsNotCanceled', 'ReservedRoomType', 'AssignedRoomType',
       'BookingChanges', 'DepositType', 'Agent', 'Company',
       'DaysInWaitingList', 'CustomerType', 'ADR', 'RequiredCarParkingSpaces',
       'TotalOfSpecialRequests', 'ReservationStatus', 'ReservationStatusDate',
       'ArrivalDate'],
      dtype='object')

In [15]:
df_h1.ArrivalDateWeekNumber

0        27
1        27
2        27
3        27
4        27
         ..
40055    35
40056    35
40057    35
40058    35
40059    35
Name: ArrivalDateWeekNumber, Length: 40060, dtype: int64

In [16]:
df_h1.IsCanceled.value_counts()

0    28938
1    11122
Name: IsCanceled, dtype: int64

In [17]:
df_h1['LOS'] = df_h1.StaysInWeekendNights + df_h1.StaysInWeekNights

In [18]:
mask = df_h1.IsCanceled == 0
active = df_h1[mask]
# active.groupby('ArrivalDate')

In [19]:
df_h1.LOS.value_counts().sort_index()

0      384
1     7748
2     6217
3     5695
4     4826
5     2787
6     1798
7     6596
8      776
9      628
10     940
11     314
12     158
13     100
14     816
15      33
16      24
17      12
18      28
19      10
20       1
21      61
22       7
23       6
25      35
26       3
27       1
28      31
29       3
30       5
33       1
35       5
38       1
42       4
45       1
46       1
56       2
60       1
69       1
Name: LOS, dtype: int64

In [20]:
df_h1.ArrivalDate.sort_values()

0       2015-07-01
24      2015-07-01
25      2015-07-01
26      2015-07-01
27      2015-07-01
           ...
39895   2017-08-31
40004   2017-08-31
40003   2017-08-31
13799   2017-08-31
40059   2017-08-31
Name: ArrivalDate, Length: 40060, dtype: datetime64[ns]

In [34]:
# get count of active reservations per day
from collections import defaultdict
mask = df_h1['IsCanceled'] == 0
df_date_checks = df_h1[mask]
h1_rooms_sold = defaultdict(int)

date = datetime.date(2015, 7, 1)
end_date = datetime.date(2017, 8, 31)
delta = datetime.timedelta(days=1)

while date <= end_date:

    date_string = datetime.datetime.strftime(date, format='%Y-%m-%d')
    print(date_string)
    mask = (df_dates.ArrivalDate == date_string)
    h1_rooms_sold[date_string] += len(df_dates[mask])
    
    for los in range(2, int(df_dates[mask].LOS.max())):
        df_dates['LOS'] = (df_dates['LOS'].where((df_dates['LOS']>=2) & (df_dates['ArrivalDate'] == date_string), 
                                                      df_dates['LOS'] - 1))
#         mask = 
        df_dates['ArrivalDate'] = (df_dates[['ArrivalDate', LOS]]
                                   .where(df_dates['LOS']>=1) & (df_dates['ArrivalDate'] == date_string),
                                   df_dates[['ArrivalDate', LOS]] + pd.DateOffset(1))
                    
    date += delta

2015-07-01

<ipython-input-34-18b747ec3acb>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dates['LOS'] = (tmp['LOS'].where((tmp['LOS']>=2) & (tmp['ArrivalDate'] == date_string),

NameError: name 'LOS' is not defined

In [22]:
print(list(range(int(df_dates[mask].LOS.min()), int(df_dates[mask].LOS.max()))))

ValueError: cannot convert float NaN to integer

In [ ]:
h1_rooms_sold

In [ ]:
date = datetime.date(2015, 7, 1)
datetime.datetime.strftime(date, format='%Y-%m-%d')

In [ ]:
df_h1.LOS.min()

In [ ]:
df_dates.index[df_dates[mask]].tolist()

In [ ]:
mask = df_h1.IsCanceled==1
df_h1.index[mask].tolist()

In [ ]:
df_h1.head(10)

In [ ]:
mask = df_h1.LOS < 1
df_h1[mask]

In [ ]:
t = df_h1.copy()
mask = t.ArrivalDate == '2018-07-06'
t.loc[mask, 'ArrivalDate'] = t['ArrivalDate'] + pd.DateOffset(-3)

In [ ]:
mask = df_h1.ArrivalDate == '2015-07-14'
df_h1[mask]

In [ ]:
df_h1.shape